@charset "UTF-8";

/*NÃO  MEXER!!!!!!*/
html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(20, 20, 20);
}

/*Barra de navegação*/
nav#navbar {
    margin-top: 20px;
}

.nav-pills .nav-link:not(.active) {
    color: rgb(255, 230, 0);
    overflow: hidden;
}

.nav-pills .nav-link.active {
    background-color: rgb(255, 230, 0);
    color: rgb(20, 20, 20);
    overflow: hidden;
    margin-left: 20px;
    border-radius: 40px;
}

.btn {
    border-radius: 20px;
}

.checked {
    color:  rgb(255, 230, 0);
  }

.fa {
    margin-bottom: 20px;
}

span#rating {
    color: rgb(255, 230, 0);
}
/*Barra de navegação*/

/*Barra de scroll*/

::-webkit-scrollbar {
    width: 5px;
    background-image: -webkit-linear-gradient(bottom, rgb(20, 20, 20) 0%, rgb(20, 20, 20) 100%);
    background-image: linear-gradient(to top, rgb(20, 20, 20) 0%, rgb(20, 20, 20) 100%);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 230, 0)), to(rgb(255, 230, 0)));
    background-image: -webkit-linear-gradient(bottom, rgb(255, 230, 0) 0%, rgb(255, 230, 0) 100%);
    background-image: linear-gradient(to top, rgb(255, 230, 0) 0%, rgb(255, 230, 0) 100%);
}

/*Barra de scroll*/

form#pesquisa {
    margin-left: 20px;
}

/*NÃO MEXER!!!!!!*/

/*Começe aqui abaixo:*/
div#principal {
    animation-name: moveToLeft;
    animation-duration: 1s;
}

.responsiveimg {
    height: 100%;
    width: 100%;
    border-radius: 40px;
}
.responsive {
    min-height: 720px;
    height: 750px;
    min-width: 100%;
}
.carousel-inner{
    min-height: 750px;
    min-width: 100%;
}
.carousel-item {
    height: 32rem;
    background: #777;
}
div#myCarousel {
    margin-top: 20px;
}
.title{
    color: rgb(255, 230, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.conteudo{
    color: white;
    text-align: justify;
}
.sinopse{
    color: white;
}

h1 {
    color: rgb(255, 230, 0);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* efeito do gustavo */
.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}
/* efeito do gustavo */

.img-responsive2{
    width: 100%;
    text-align: center;
    border-radius: 40px;
}
.linha{
    width: auto;
    border: 2px solid rgb(255, 230, 0);
}
.mt{
    margin-top: 20px;
}

@keyframes moveToLeft {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

footer {
    text-align: center;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.233);
}